fastapi
ecs-logging
aws_embedded_metrics
asgi-logger
pydantic_settings
dnspython
pymongo
pymongo[aws,snappy,zstd,encryption]
httpx
uvicorn
langgraph
langgraph-checkpoint
langgraph-checkpoint-mongodb
langchain
anthropic
gitpython
pydantic
tree-sitter>=0.23.6
tree-sitter-language-pack>=0.6.1
tiktoken
pathspec